page-qrilustration {
    .rcorners {
    border-radius: 25px;
    background: transparent;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    padding: 20px; 
    width: 200px;
    height: 150px;    
    }
}
